.page_1{
 overflow: hidden;
}
.page_1 .main_img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background:linear-gradient(to bottom,
    rgba(255, 255, 255, 1) 10%,
    rgba(255, 255, 255, 0.85) 25%,
    rgba(255, 255, 255, 0.45) 50%,
    rgba(255, 255, 255, 0.1) 75%,
    rgb(255, 255, 255, 0.05) 85%,
    rgb(255, 255, 255,0) 100%),
      url(../image/main_img.jpg) no-repeat;
  
    background-size: cover;
    overflow: hidden;
}

.page_1 .main_txt {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  font-weight: 700;
  font-size: 66px;
  text-align: center;
  line-height: 1.7;
  color: black;
  word-break: keep-all;
  white-space: nowrap;;
}

.page_1 .install_btn {
  position:absolute;
  top:60%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 178px;
  height: 71px;
  background-color:#1957a1;
  border-radius: 40px;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 22px;
}